.head_home, .head_about, .head_references {
  font-family: sans-serif;
  font-size: 20px;
  text-decoration: none;
}

.head_home {
  position: absolute;
  top: 50px;
  left: 125px;
}

.head_about {
  position: absolute;
  top: 50px;
  left: 225px;
}

.head_references {
  position: absolute;
  top: 50px;
  left: 325px;
}

nav a span {
  padding-left: 50px;
}

nav {
  min-width: 500px;
  width: auto !important;
  width:1000px;
}

hr {
  width: 95%;
  position: absolute;
  top: 105px;
}

a:link { color: red; }
a:visited { color: green; }
a:hover { color: blue; }
